<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.note.dao.PostDao">
	<select id="findPostById"	
		parameterType="int"
		resultType="cn.tedu.note.entity.Post">
		select 
			post_id as id,
			user_id as user,
			post_body as body,
			post_time as date
		from 
			p_post
		where
			post_id=#{id}
	</select>
</mapper>





